

<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="max-age=604800" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
     
    Hi {{user.first_name}}
    
    Please click on below link to reset your password 

    {% comment %} http://{{domain}}{% url 'resetpassword' uidb64=uid token=token %}  {% endcomment %}
    if you think it's not you, Pleas ingor this email
</body>
</html>